body {
	background: black;
}



.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 70px;
	height: 70px;
}
.postcard-header h1 {
	width: 500px;
	margin-top: 10px;
	font-family: Georgia;
}

.postcard-body {
	display: flex;
}
.body-right {
	width: 50%;
}
.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: grey 1px solid;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: yellowgreen;
	padding: 5px;
}
